<body>

    <div *ngIf="this.submitError">
        <br>
        <div class="alert alert-danger" role="alert">
            {{submitError}}
        </div>
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div class="form-group">
        <label for="tag">Tag</label>
        <input type="text" class="form-control" id="tag" [(ngModel)]="tag.tag" formControlName="tag" [ngClass]="{'is-invalid':form.get('tag').touched && form.get('tag').invalid}">
        <div *ngIf="form.get('tag').touched && form.get('tag').invalid" class="invalid-feedback">
            <div *ngIf="form.get('tag').errors.required">Se requiere ingresar el tag</div>
        </div>
    </div>


    <button type="submit" class="btn btn-info" [disabled]="!form.valid">Agregar</button>
</form>
</body>